/* reset das configurações padrão do navegador */
*,
*::after,
*::before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {    
    max-height: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;


}

header li {
    display: inline-block;
    list-style: none;
    margin: 30px;
}

.header-ul a{
    text-decoration: none;
    color: black;
    font: bold;
}
.header_seach{
    position: relative;
    left: 17px;
    width: 15px; 
    top: 2px;
    
}
.main-logo img{
    width: 250px;
    
}
.main-p_logo_image{
    display: flex;
}
.main-border{
    position: absolute;
    margin: 2px solid black;
    width: 300px;
    height: 50px;

}
.main-logo_image{
    position: relative;
    left: 470px;
    top: -150px;
    height: 200px;
    background: #F3F3F3;
    border-radius: 50% ;
    padding: 0;
    
}

.aside_center{
    text-align: center;
    background: #F3F3F3;
}
.aside_center li{
    display: inline-block;
}
    .border{
     margin: 2px solid black;
     width: 300px;
    height: 50px;
   
}
.section-section img{
    width: 300px;
   }

 .section-section_p img{
     position: relative;
     left: 500px;
     width: 350px;
     height: 350px;
     top: -100px;

 }
 .section-section-section_im{
     position: absolute;

 }
 .section-section-section_text{
     position: relative;
     left: 710px;
     top: -450px;
     
 }
 .section-section-section-section{
     position: relative;
 }
 .section-section-section-section_p{
     display: flex;
 }
 .section-run{
    display: flex;
    /* position: relative; */
    /* top: 50px; */
    background-image: url('../img/arrow.png');
    height: 720px;
    background-size: 900px;
    background-repeat: no-repeat;
    font-size: 44px;
    color: white;
 }
 .section-section-section-section_p img{
     position: relative;
     top: -20px;
     width: 450px;
     height: 470px;
     left: 150px;
 }
 .section-run{
    background-image: url('../img/arrow.png');
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 44px;
    color: white;
}

/* imagem da seta */
img.section-run_image {
    margin-right: 20px;
}
.section_map{
    /* position: relative; */
    top: -50px;
        
}
.section_map img{
    width: 800px;
    height: 500px;
}


.section-form{
     position: relative; 
    top: -500px;
    left: 800px;
    background: #F3F3F3;
    height: 510px;
    width: 600px;
}
.height{
    width: 200px;
    height: 200px;
}
.margin{
    margin: 2px solid black;
    width: 300px;
    height: 50px;
}
footer {
    position: relative;
    top: -500px;
    background: #F3F3F3;
    height: 170px;
    margin-bottom: opx;
    
}
footer h3{
    position:relative;
    
}
footer a{
    text-decoration: none;
}
footer ul{
    position:absolute;
    left: 200px;
    list-style: none;
        
}
.footer-ul-ul{
    margin-left: 450px;
}
.footer-ul-ul-ul{
    position: relative;
    top: -25px;
    margin-left: 800px;
    
}
.footer-ul-ul-ul li{
    display: inline-block;
    position: relative;
    top: 50px;
    right: 100px;
    
}
.footer-text_position{
    position: absolute;
    bottom: 5px;
    margin-left: 630px;
   
}